.item {
    width: 100%;
    list-style: none;
    /*background-color: #282c34;*/
    height: 50px;
    line-height: 50px;
    position: relative;
}
ul {
    margin: 0;
    padding: 0;
}
.btn {
    background-color: #282c34;
    color: #fff;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    position: absolute;
    right: 30px;
    top: 10px;
    display: none;
}
.item:hover .btn{
    display: block;
}
.item:hover {
    background-color: rgba(168,245,227,0.64);
}
.checkBox {
    width: 20px;
    height: 20px;
    vertical-align: -5px;
}